{% extends 'core/pages/layout/base.html'%}
{% load static %}
{% block title %}{{title}}{% endblock%}

{% block body%}
   <!-- Portfolio Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Our Portfolio</h5>
            <h1 class="mb-0">Projects that we have completed</h1>
        </div>
        <div class="row g-5">
            {% for portfolio in portfolios %}
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">               
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{{portfolio.image_file.url}}" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href="{{portfolio.link_url}}" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                 <a class="btn btn-lg btn-primary btn-lg-square rounded" href="{{portfolio.link_url}}" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>                
                </div>
                {% endfor %}            
        </div>
    </div>
</div>
<!-- Portfolio Start -->
    
    <!-- Testimonial Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Testimonial</h5>
                <h1 class="mb-0">What Our Clients Say About Our Digital Services</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
                {% for testimonial in testimonials %}                
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="{{testimonial.image_file.url}}" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">{{testimonial.name}}</h4>
                            <small class="text-uppercase">{{testimonial.designation}}</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        {{testimonial.description| slice:":100"}}
                    </div>
                </div>
                {% endfor %}
                
                
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

 {% endblock %}   

   